doctype html

html
    head
        title Email per il recupero password
    
    body
        div
            h3 Gentile #{name}
            p  Hai inviato una richiesta per recuperare la password. Clicca il bottone seguente per effettuare l'operazione.
            a(href='#{url}') Reset Password
            p  Saluti, Team YoUni 
